.search_block {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    width:330px;
    padding-left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px #115375;
} 
.input {
    margin-left: 5px;
}